.status {
    &.未着手 {
      color: gray;
    }
    &.対応中 {
      color: orange;
    }
    &.完了 {
      color: green;
    }
  }
  
  .高 {
    font-weight: bold;
    color: red;
  }
  .中 {
    color: orange;
  }
  .低 {
    color: green;
  }
  
.issue-item {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
  